asgiref==3.11.1
ast_serialize==0.5.0
Django==6.0.6
django-cors-headers==4.9.0
django-filter==25.2
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.17.1
librt==0.11.0
Markdown==3.10.2
mypy==2.1.0
mypy_extensions==1.1.0
pathspec==1.1.1
python-dotenv==1.2.2
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
